Source: ros-groovy-ardrone-autonomy
Section: misc
Priority: extra
Maintainer: Mani Monajjemi <mmonajje@sfu.ca>
Build-Depends: debhelper (>= 9.0.0), binutils-dev, daemontools, libgtk2.0-dev, libiw-dev, libsdl1.2-dev, libudev-dev, libxml2-dev, ros-groovy-camera-info-manager, ros-groovy-catkin, ros-groovy-image-transport, ros-groovy-message-generation, ros-groovy-roscpp, ros-groovy-sensor-msgs, ros-groovy-std-srvs, ros-groovy-tf
Homepage: http://ros.org/wiki/ardrone_autonomy
Standards-Version: 3.9.2

Package: ros-groovy-ardrone-autonomy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-camera-info-manager, ros-groovy-image-transport, ros-groovy-message-runtime, ros-groovy-roscpp, ros-groovy-sensor-msgs, ros-groovy-std-srvs, ros-groovy-tf
Description: ardrone_autonomy is a ROS driver for Parrot AR-Drone quadrocopter. This driver is based on official AR-Drone SDK version 2.0.1. The driver supports both AR-Drone 1.0 and 2.0. ardrone_autonomy is a fork of AR-Drone Brown driver. This package has been developed in Autonomy Lab of Simon Fraser University.
